<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188667697827-pfkoukel01vfuminvh7hvmftbipdeqgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188667697827-pfkoukel01vfuminvh7hvmftbipdeqgl</string>
	<key>API_KEY</key>
	<string>AIzaSyA6eFgU3xad4DN1G9PDotGVz5ZBlLAiyCs</string>
	<key>GCM_SENDER_ID</key>
	<string>188667697827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>midnight.rick-n-morty.Rick-Morty-prod</string>
	<key>PROJECT_ID</key>
	<string>prod-rick-morty</string>
	<key>STORAGE_BUCKET</key>
	<string>prod-rick-morty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188667697827:ios:1b93edde4b4bc7a3cffd16</string>
</dict>
</plist>